@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: chocolate;
}
html{
    font-size: 12px;
    font-family: 'Poppins', 'Caveat', sans-serif;
}
a {
    text-decoration: none;
    background-color: none;
}
p {
    text-indent: 4rem;
}
.nav-container {
	min-height: 100%;
	width: 100%;
	display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
}
.anav {
    background-color: darkred;
}
.container {
	min-height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

/* navbar */
.navbar {
    height: 5vh;
    background-color: darkred;
    justify-items: center;
}
.navl {
    background-color: darkred;
}
.navr {
    background-color: darkred;
}
/* end navbar */

/* sechome */
.sechome {
    flex-direction: column;
    position: relative;
    padding: 2vh 2vh;
}
.bef {
    font-family: 'Poppins';
    font-size: 2rem;
}
.logo {
    max-width: 75%;
    max-height: 60%;
}
/* end sechome */ 

/* acara */
.acara {
    align-items: center;
}
/* end acara */

/* secfoot */
/* end secfoot */